<h1>Login</h1>

<div class="container">
		<div class="col s6 offset-s6">
			<form method="POST" role="form">
			<div class="input-field col s12">
	    		<label for="email">Email</label>
	    		<input type="email" class="form-control" id="email" name="email">
	    	</div>
	    	<div class="input-field col s12">
	    		<label for="password">Password</label>
	    		<input type="password" class="form-control" id="password" name="password">
	    	</div>
		</div>
	</div>
			<button type="submit" class="btn btn-primary">LOGIN</button>
</form>
</div>