<header>
	<img class="responsive-img" id="header-img" src="/img/header.png" />
	<h2 id="title">Seattle Showdown</h2>
	<h3 id="slogan">The lowdown on concerts in the Seattle area</h3>
</header>

<div class="container">
	<p class="flow-text">
		Welcome to Seattle Showdown! This app allows you to stay on top of the latest concerts in and around Seattle. RSVP to shows, arrange ride shares and share your reviews with your fellow Seattleites. Sound like your kinda thing? Then let's get you (rocking) and rolling!</p>

	<p class ="flow-text">First, please <a href="/auth/signup">signup for an account</a> (it'll be painless I promise). Already a member? Just <a href="/auth/login">sign in here</a>.</p>

	<div class="row">
		<form action="/results" method="GET" id="artist-search">
			<h4>Who do you wanna see?</h4>
			<div class="input-field col s12">
				<input type="text" name="q" placeholder="ex: Lower Dens">
				<label for="artist">Band or Artist</label>
			</div>
				<button type="submit" class="btn">Search</button>
		</form>
	</div>
</div>

