<h1>Seattle Showdown
<small>Your lowdown on concerts in the Seattle area</small></h1>

<div class="form-group">
		<form action="/results" method="GET">
			<p class ="lead">Who do you wanna see?</p>
			<input type="text" name="q" placeholder="ex: Lower Dens" size="40">
			<button type="submit" class="btn btn-success">Search</button>
		</form>
	</div>
</div>