<header>
	<img class="responsive-img header-img" src="/img/header.png" />
	<h2 class="overlay" id="title">Seattle Showdown</h2>
	<h3 class="overlay" id="slogan">The lowdown on concerts in the Seattle area</h3>
</header>

<div class="container">
	<p class="flow-text">
		Welcome to Seattle Showdown! This app allows you to stay on top of the latest concerts in and around Seattle. RSVP to shows, arrange ride shares and share your reviews with your fellow Seattleites. Sound like your kinda thing? Then let's get you rocking and rolling!</p>

	<p class ="flow-text auth-buttons"><a href="/auth/signup" class="btn">Signup</a> OR <a href="/auth/login" class="btn">Login</a></p>

	<div class="row front-search">
		<form action="/results" method="GET" class="artist-search">
			<h4>Who do you wanna see?</h4>
			<div class="input-field col s12">
				<input type="text" name="q" placeholder="ex: Lower Dens">
				<label for="artist">Band or Artist</label>
			</div>
				<button type="submit" class="btn flow-text">Search</button><br><br>
		</form>
	</div>
</div>


