<center><img class="responsive-img" src="/img/header.png" width="82%"/></center>

<h1>Seattle Showdown
<small>The lowdown on concerts in the Seattle area</small></h1>

<center><a href="/auth/signup" class="btn btn-warning">Signup</a>
<a href="/auth/login" class="btn btn-success">Login</a>
<a href="/auth/logout" class="btn btn-danger">Logout</a></center><br>
	<div class="form-group">
		<form action="/results" method="GET">
			<p class ="lead">Who do you wanna see?</p>
			<input type="text" name="q" placeholder="ex: Lower Dens" size="40">
			<button type="submit" class="btn btn-success">Search</button>
		</form>
	</div>
<br>
<a href="/shows" class="btn btn-primary">Popular Shows</a>

<a href="/shows/<%= currentUser.id %>" class="btn btn-primary">Your Shows</a>
