<!DOCTYPE html>
<html>
<head>
	<title>Seattle Showdown</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Bangers|Black+Ops+One' rel='stylesheet' type='text/css'>
  <!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>
<body>
<% if (typeof alerts !== 'undefined') { %>
    <% for (key in alerts) { %>
      <% alerts[key].forEach(function(thisMsg) { %>
        <div class="alert alert-<%= key %>"><%= thisMsg %></div>
      <% }); %>
    <% } %>
<% } %>
<nav>
    <div class="nav-wrapper #78909c blue-grey lighten-1">
      <a href="/" class="brand-logo">Seattle Showdown</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/search">Search</a></li>
        <li><a href="/shows/<%= currentUser.id %>">Your Shows</a></li>
        <li><a href="/rides">Ride Shares</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
        <% if (currentUser)  { %>
          <li><a href="/auth/logout">Logout</a></li>
        <% } %>
      </ul>
    </div>
  </nav>

      <%- body %>
      
</body>
</html>