<h4>Reviews</h4>

<% reviews.forEach(function(review) { %>
<div class="container">
	<div class="row">
		<div class="col s12">
			<p class="text-flow"><%= review.title %></p>
			<p class="text-flow">By: <a href="/users/<%= review.user.id %>"><%= review.user.name %></a></p>
			<p><%= review.body %></p>
		</div>
	</div> 
</div>
<% }); %>