<h4>Search for Upcoming Shows</h4>

<div class="container">
	<div class="col6">
		<form action="/results" method="GET" id="artist-search">
			<h4>Who do you wanna see?</h4>
			<div class="input-field col s12">
				<input type="text" name="q" placeholder="ex: Lower Dens">
				<label for="artist">Band or Artist</label>
			</div>
				<button type="submit" class="btn">Search</button>
		</form>
	</div>
</div>