<h4>Reivew a Show</h4>

<div class="container">
		<form method="POST" role="form" id="newreview">
			<div class="row">
				<div class="input-field col s8">
	    			<input type="text" class="form-control" name="reviewTitle" placeholder="ex: Best.Show.Ever." >
	    			<label for="reviewTitle">Title</label>
	    		</div>
	    	</div>
	    	<div class="row">
				<div class="input-field col s8">
	    			<textarea name="reviewBody" form="newreview" id="body" style="width: 400px; height: 200px;"></textarea>
	    			<label for="review">Tell us about the show</label>
				</div>
			</div>
		<button type="submit" class="btn btn-primary">SUBMIT REVIEW</button>
	</form>
</div>
