@media all and (max-width: 750px) {
  .overlay { display: none; }
}

body {
   background-color : #e0e0e0;
/*   display: flex;
   min-height: 100vh;
   flex-direction: column;*/ 
}

.header-img {
	display: block;
   position: static;
	margin: 0 auto;
}

header {
	text-align: center;
}

/*.footer-copyright {
   background-color: #78909c;
   height: 50px;
   text-align: center;
   padding-top: .2em;
}

.footer-copyright p {
   color: white;
   font-size: 1em;
   font-weight: bold;
}*/

#title { 
   position: absolute; 
   top: 160px; 
   left: 0; 
   width: 100%;
   color: white;
   text-shadow: 5px 5px 8px #388e3c;
   font-size: 80px;
   font-family: 'Bangers'; 
}

#slogan { 
   position: absolute; 
   top: 250px; 
   left: 0; 
   width: 100%;
   color: white;
   text-shadow: 4px 4px 8px #388e3c;
   font-size: 40px;
   font-family: 'Bangers';  
}

.heading {
   font-size: 50px;
   font-family: 'Bangers';
   color: #627884;
   text-align: center;
}

.profile-heading {
   font-size: 40px;
   font-family: 'Bangers';
   color: #627884;
   text-align: center;
}

.nav-wrapper {
	font-family: 'Black Ops One';
   background-color: #78909c;
}

.brand-logo {
   margin-left: 10px;
}

.btn {
   background-color: #78909c;
}

.btn:hover {
   background-color: #627884;
}

.artist-search {
	text-align: center;
}

.auth-buttons {
   text-align: center;
}

.front-search {
   margin-top: 3em;
   border: groove;
}

.searchform {
   margin-top: 3em;
}

.noshows {
   margin-top: 1em;
   text-align: left;
   background: rgb(84, 110, 122);
   color: white;
   border-radius: 3px;
}

.sold-out {
   font-size: 18px;
   font-weight: bold;
}

#popular {
   text-align: center;
}

.infoBox {
   color: white;
   border-radius: 3px;
   background: rgb(84, 110, 122);
}

.infoBox a {
   color: #ffb300;
}

.infoBox a:hover {
   color: white;
}

.solo-link {
   color: #ffb300;
   text-align: center;
}

.solo-link:hover {
   color: #78909c;
   text-align: center;
}