<h4 class="heading">Show Reviews</h4>

<% allreviews.forEach(function(review) { %>
  <div class="container">
    <div class="row">
      <div class="col s8 offset-s2 infoBox">
        <h5><a href="/reviews/<%= review.showId %>"><%= review.show.title %></a></h5>
        <h6>By: <a href="/users/<%= review.user.id %>"><%= review.user.name %></a></h6>
      </div>
    </div>
  </div>
<% }); %>