<div class="container">
 <div class="row">
      <img src="../img/rockstar.jpg" class="header-img"/>
  </div>
  <div class="col6 searchform">
    <form action="/results" method="GET" class="artist-search">
      <h4>Who do you wanna see?</h4>
      <div class="input-field col s12">
        <input type="text" name="q" placeholder="ex: Lower Dens">
        <label for="artist">Band or Artist</label>
      </div>
        <button type="submit" class="btn flow-text">Search</button>
    </form>
  </div>
</div>